* {
  margin-left: 20px;
}
.container {
  border: 1px solid deeppink;
  padding: 1em 1em;
}
.col {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}
.container--1 {
  height: 120px;
  width: 200px;
  /* Añadir propiedad overflow */
  overflow-block: inherit;
}
.container--2 {
  height: 200px;
  /* Añadir propiedad overflow */
  overflow-y: scroll;
}
