* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background-color: greenyellow;
}
.list {
  list-style: none;
}
.item {
  display: inline;
}
