* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  padding: 0 20px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border: rebeccapurple solid 2px;
  margin: 10% 10%;
}

.menu {
  width: 100%;
}
.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.item {
  display: inline-block;
  font-size: 20px;
}
.link {
  padding: 5px 8px;
}
.link:hover {
  color: fuchsia;
}
