/* NO TOCAR ESTOS ESTILOS 
.news {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: arial;
}
a {
  color: red;
}
.news .news__item {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10px;
}
.news .news__item + .news__item {
  border-top: 1px solid #ccc;
}
.news .news__item:nth-child(2n) {
  background: #eee;
}
.news .news__item:last-child {
  border-bottom: 1px solid #ccc;
}
.news .news__item h2.news__item-title {
  margin: 0 0 0.25em;
  font-size: 20px;
}
.news .news__item a.news__item-link {
  color: green;
}
*/

/* Nuevos estilos a partir de esta línea */
* {
  margin: 2px;
  box-sizing: border-box;
  border: 2px solid rebeccapurple;
}
.news {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: arial;
}
.newsitem {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10px;
}

.newsitem-title {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10px;
  color: red;
}

.newsitem:nth-child(2n) {
  background: #ae70d8;
}
.newsitem:last-child {
  background-color: grey;
}
.newsitem-link {
  text-decoration: none;
  color: aqua;
}
.newsitem-link:hover {
  color: white;
  background-color: tomato;
}
.newsitem-link:visited {
  color: pink;
}
