* {
  margin: 30px 30px 60px 40px;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-size: 18px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: rebeccapurple;
  background-color: mediumpurple;
  line-height: 1.5;
}
