* {
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bold {
  font-weight: bold;
}

.body {
  margin: 50px;
}
.mark {
  font-family: monospace;
  background-color: gainsboro;
  padding: 0;
}
.h2 {
  padding-top: 50px;
}
.point {
  margin-top: 40px;
}
.blockquote {
  margin: 0 50px;
  padding: 30px;
}
