* {
  margin: 2px;
  border: rebeccapurple 2px solid;
  box-sizing: border-box;
}
.body {
  display: block;
}
.package {
  width: 100px;
  height: 100px;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: powderblue;
}

.green {
  background-color: rgb(113, 233, 165);
}
